<div class="login-page">
<div class="span3"></div>

<div class="form-horizontal">
<div class="bs-docs-sidebar span7">
<div class="row-fluid">		
		<%= render '/sessions/form' %>			
</div>
</div>
</div>
</div>
