<script  type="text/javascript" charset="utf-8">
	$('#slideshow').carousel()
	
	$(function(){
$('.carousel').carousel({
      interval: 5000
    });
$('.carousel-control.right').trigger('click');
});
</script>


<div id="masterhead">
	<div class="alert" style="font-size: 20px"> Snapshots of 20th National Convention conducted at Novotel Hyderabad:</div>
	
<div class="container">
	<div class="slideshow">
<div id="slideshow" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">
<img src="/assets/IMCIWebPPT.jpg/page-0.jpg" alt="" class="homebanner">

</div><!-- /. Item Active -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-1.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-2.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-3.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-4.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-5.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-6.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-7.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-8.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-9.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-10.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-11.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-12.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="/assets/IMCIWebPPT.jpg/page-13.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
</div><!-- /. Carousel-Inner -->
<div class="controlsBlock" style="width: 35%">
<div class="controls">
<a class="left carousel-control" href="#slideshow" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
 <a class="right carousel-control" href="#slideshow" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
<!--<a class="left carousel-control" href="#slideshow" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
 <a class="right carousel-control" href="#slideshow" data-slide="next"><i class="fa fa-chevron-right"></i></a>-->
<div class="carousel-indicators">
<li data-target="#slideshow" data-slide-to="0" class="active"></li>
<li data-target="#slideshow" data-slide-to="1"></li>
<li data-target="#slideshow" data-slide-to="2"></li>
<li data-target="#slideshow" data-slide-to="3"></li>
<li data-target="#slideshow" data-slide-to="4"></li>
<li data-target="#slideshow" data-slide-to="5"></li>
<li data-target="#slideshow" data-slide-to="6"></li>
<li data-target="#slideshow" data-slide-to="7"></li>
<li data-target="#slideshow" data-slide-to="8"></li>
<li data-target="#slideshow" data-slide-to="9"></li>
<li data-target="#slideshow" data-slide-to="10"></li>
<li data-target="#slideshow" data-slide-to="11"></li>
<li data-target="#slideshow" data-slide-to="12"></li>
<li data-target="#slideshow" data-slide-to="13"></li>
</div>
</div>
</div>
</div><!-- /# Slideshow .Carousel -->
</div><!-- /. Slideshow -->
	
	<br/>
	<br/>
	<br/>
	<hr/>
	
	
	
	
<div class="slideshow">
<div id="slideshow" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">
<img src="assets/bootstrap-mdo-sfmoma-01.jpg" alt="" class="homebanner">

</div><!-- /. Item Active -->
<div class="item">
<img src="assets/bootstrap-mdo-sfmoma-02.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="assets/bootstrap-mdo-sfmoma-03.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
</div><!-- /. Carousel-Inner -->
<div class="controlsBlock">
<div class="controls">
<a class="left carousel-control" href="#slideshow" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
 <a class="right carousel-control" href="#slideshow" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
<!--<a class="left carousel-control" href="#slideshow" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
 <a class="right carousel-control" href="#slideshow" data-slide="next"><i class="fa fa-chevron-right"></i></a>-->
<div class="carousel-indicators">
<li data-target="#slideshow" data-slide-to="0" class="active"></li>
<li data-target="#slideshow" data-slide-to="1"></li>
<li data-target="#slideshow" data-slide-to="2"></li>
</div>
</div>
</div>
</div><!-- /# Slideshow .Carousel -->
</div><!-- /. Slideshow -->
</div><!-- /. Container -->
</div><!-- /# Mastehead -->