<script  type="text/javascript" charset="utf-8">
	$('#slideshow').carousel()
	
	$(function(){
$('.carousel').carousel({
      interval: 5000
    });
$('.carousel-control.right').trigger('click');
});
</script>


<div id="masterhead">
<div class="container">
<div class="slideshow">
<div id="slideshow" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">
<img src="assets/bootstrap-mdo-sfmoma-01.jpg" alt="" class="homebanner">

</div><!-- /. Item Active -->
<div class="item">
<img src="assets/bootstrap-mdo-sfmoma-02.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
<div class="item">
<img src="assets/bootstrap-mdo-sfmoma-03.jpg" alt="" class="homebanner">
</div><!-- /. Item -->
</div><!-- /. Carousel-Inner -->
<div class="controlsBlock">
<div class="controls">
<a class="left carousel-control" href="#slideshow" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
 <a class="right carousel-control" href="#slideshow" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
<!--<a class="left carousel-control" href="#slideshow" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
 <a class="right carousel-control" href="#slideshow" data-slide="next"><i class="fa fa-chevron-right"></i></a>-->
<div class="carousel-indicators">
<li data-target="#slideshow" data-slide-to="0" class="active"></li>
<li data-target="#slideshow" data-slide-to="1"></li>
<li data-target="#slideshow" data-slide-to="2"></li>
</div>
</div>
</div>
</div><!-- /# Slideshow .Carousel -->
</div><!-- /. Slideshow -->
</div><!-- /. Container -->
</div><!-- /# Mastehead -->