<style>
	.button {
		display: inline-block;
		font: bold 13px/12px HelveticaNeue, Arial;
		padding: 2px;
		margin: 3px;
		color: #555;
		border: 1px solid #dedede;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 4px;
		background: peachpuff;
	}

	.button:hover {
		text-decoration: underline
	}

	.RegisterButton {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
		float: right;
		background: -moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background: -webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background: -o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background: -ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
		background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
		background-color: #44c767;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		border: 2px solid #18ab29;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-family: inherit;
		font-size: 15px;
		padding: 5px 5px;
		text-decoration: none;
		text-shadow: 0px 1px 0px #2f6627;
		margin-right: 15px;
	}
	.RegisterButton:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
		background: -moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background: -webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background: -o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background: -ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
		background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
		background-color: #5cbf2a;
	}
	.RegisterButton:active {
		position: relative;
		top: 1px;
	}
	
	.RegisterButton:visited{
		color:#F0F0F0;
	}


</style>
<div class="AnnualConventionPage">

	<h2 data-alert style="text-align: -webkit-center; text-align: -moz-center; color: #A94442 ">20th National Convention - 23rd and 24th January 2014</h2>
	<br />
	<div class="row">

		<div>
			<div style="margin-left: 40px; display: flex">
				<div style="float: left; margin: 0 2em;" class="span4">
					<a  href="/PDF/IMCI_Brochure.pdf" target="_blank" ><img src="/images/IMCI Brochure for National Convention-page1.jpg" title="Click to view Brochure in new tab" alt="Click to view Brochure in new tab" style=" width: 101%; border:5px solid"></a>
				</div>
				
					<div style="float: left; margin: 2em 0 0 0; width:750px; text-align: justify">
						<span style="font-weight: bold; margin-bottom: 0.75em; text-decoration: underline">Preamble:</span>
						<a href="http://www.meraevents.com/event/imci-national-convention" target="_blank" class="RegisterButton"> Online Registration >> </a>
						<br />
						<br />
						During the last decade, the world has seen major economic changes. The trade barriers are gradually being removed resulting in cut throat competion among various countries. In this process, a totally new competive landscape is emerging as a result of which the organisations are facing significant
						uncertainty, ambiguity and increasing number of strategic discontinuities with perpetual disequilibrium in the organisation. These conditions require flexibility that allows organisations to reduce periods of instability by making rapid and effective changes. The dynamic and complex nature of the current global environment requires flexibility, speed and innovation. The organisations of today are now faced with the task of creating a balance between the stability which is necessary for development of strategic plan and decision processes and instability that allows continuous change and adaptation to a dynamic environment. Thus, the adaptation of appropriate Organisational Strategies is the key factor in order to meet the challenges of change.
						<br />
						<br />
						The Institute of Management Consultants of India (IMCI) is organising a National Convention on the theme of “Building A Globally Competitive & Sustainable Organisation”. The National Convention is expected to discuss various issues connected with the challenges being posed by the organisation and how the organisations need to prepare themselves for change especially Building Globally Competitive & Sustainable Organisations in Indian context.
						<br />
						<br />
						<span style="font-weight: bold; text-decoration: underline">Who Should Attend</span>
						<br />
						<br />
						The 20th National Convention will offer a great opportunity to everyone associated with the consulting profession, academics, NGO personnel, top, senior and middle management professionals in both public and private sectors as well as senior government officers to participate, deliberate and discuss the issues related to building a globally competitive and sustainable organization. It will also discuss issues about leadership, diversity, technology among other subjects.
						<br />
						<br />
						<div class="button">
							<a href="/PDF/IMCI Brochure for National Convention.pdf" download="IMCI Brochure for National Convention" class="button">Download Brochure</a>
						</div>
						<div class="button">
							<a href="/PDF/Delegate Registration Form.pdf" download="Delegate Registration Form" class="button">Delegate Registration Form</a>
						</div>
						<div class="button">
							<a href="/PDF/Souvenir Adevrtisement Form.pdf" download="Souvenir Advertisement Form" class="button">Souvenir Advertisement Form</a>
						</div>
						
					</div>
				
			</div>
		</div>

	</div><!-- row -->
	<br />
</div>

