<div class="resources_page text-center">
	
<br>	<a href="http://www.aima.in/">All India Management Association</a>
<br>	<a href="http://static.icmci.org/about_icmci">International Council of Management Consultant Institutes</a>
<br>	<b>Magazines that deal with Management Consulting</b>
<br>	<a href="http://www.consulting-times.com/">Consulting Times </a>
<br>	<a href="http://www.consultingmag.com/">Consulting </a>
<br>	<a href="http://www.indianmanagement.org/">Indian Management</a>
<br>	<a href="http://www.infoagepub.com/assets/files/catalogs/series/RMC-Catalogue_2014.pdf">Research in Management Consulting</a>
<br>	<a href="http://www.ilo.org/global/lang--en/index.htm">Milan Kubr on Management Consulting</a>
<br>	<a href="http://www.consultingfact.com/blog/top-10-management-consulting-firms-in-2014/">Top 10 Consulting Firms</a>
</div>
