<div class="contactuse-page">
<table class="table">
	<tbody>
	<tr>
		<td class="span6"><div id="map" style='width: 100%; min-width: 30em; height: 25em;'></div></td>
		<td class="span6">
			<div class="span5">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td>
								Mail:
							</td>
							<td>
								Datawise Office, 506, Manjeera Majestic Commercial <br>KPHB Phase I, Kukatpally, Hyderabad - 500072, Andhra Pradesh, India
							</td>
						</tr>
						<tr>
							<td>
								Phone:
							</td>
							<td>
								<%= link_to "040 4020 4837", "tel: +914040204837" %>
							</td>
						</tr>
					</tbody>
				</table>				 
			</div>	
		</td>
	</tr>
	</tbody>			
</table>

<%= render 'contact_forms/new' %>

</div>


<script type="text/javascript" charset="utf-8">
	
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});

</script>
