<div class="aboutus_page">
	
<h2>Activities </h2>

<div class="row">
	<div class="col-sm-3">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#AboutIMCI" data-toggle="tab">About IMCI</a></li>
			<li><a href="#VisionMission" data-toggle="tab">Vision & Mission of IMCI</a></li>
			<li><a href="#AboutIMCIHyd" data-toggle="tab">About IMCI Hyderabad</a></li>
			<li><a href="#ExecutiveBoard" data-toggle="tab">Executive Board | Committee</a></li>
			<li><a href="#CodeOfEthics" data-toggle="tab">Code of Ethics</a></li>
		</ul>
	</div><!-- col -->

	<div class="col-sm-9">
		<div class="tab-content">
			<div class="tab-pane active" id="AboutIMCI">
			
			<p><b>The Institute of Management Consultants of India (IMCI)</b>, is the premier body of management consulting professionals and the only registered institute of established management consultancy firms and practicing individuals in the country. IMCI was constituted in 1991 and was formerly known as Management Consultants' Association of India (MCAI). The MCAI was founded in 1963.
		</p><p> 1989, IMCI became the first Asian organisation to be accepted for membership of the International Council of Management Consulting Institutes (ICMCI), the global apex body of Management Consulting Institutes. http://www.icmci.org/
		</p><p>The Executive Secretariat of IMCI is located in Mumbai. The Institute has Regional Chapters in Ahmedabad, Bangalore, Calcutta, Chennai, Delhi, Hyderabad, Mumbai and Pune.
		</p><p>Since its inception in 1963, IMCI has grown manifold with leading consulting firms as well as experienced individual consultants as members. As of October 2013 the current membership stood at 498, with 486 individual consultants and 12 consulting firms of which 220 are CMC’s.
		</p>

		<ul type="square">
  			<li>IMCI is affiliated to ICMCI</li>
  				<ul type="circle">
  					<li>ICMCI is recognized in 48 countries</li>
  				</ul>
  			<li>Membership</li>
  				<ul type="circle">
  					<li>418 Individual Members</li>
  					<li>18 Consulting Firm Members</li>
  				</ul>
  			<li>Code of Ethics is the mainstay</li>
  			<li>CMC certification is built around it - 219 CMCs</li>
  				<ul type="circle">
  					<li>Hyderabad Chapter has 13 CMCs National Body of IMCI has the following members: http://www.imcindia.co.in/executive-council</li>
  					<li>Chairman</li>
  					<li>Vice Chairman</li>
  					<li>Honorary Secretary</li>
  					<li>Treasurer</li>
  					<li>Immediate Past Chairman </li>
  				</ul>
		</ul>
			
			
			</div>
			<div class="tab-pane" id="VisionMission">

				<p>IMCI's mission is to <b>promote excellence</b> in the <b>profession of Management Consulting</b> by providing learning opportunities; generating and disseminating knowledge through research; certifying competencies; building corporate awareness and emphasizing ethical behavior, so as to ensure that the profession is <b>accepted, recognized, and respected</b> as <b>providing a valuable service to all categories of organizations</b> in the private, public or NGO sectors.	
				</p>

			</div>
			<div class="tab-pane" id="AboutIMCIHyd">

				<p>•	IMCI - Hyderabad is one of the active chapters and has the distinction of having hosted the Asia Pacific Conference of the IMCI in 2004, a convention in 2008 and a Consultant’s Expo in 2010. </p>
				<ul type="circle">
  					<li><b>Chairman - Mr. K.Vinay Kumar, CEO, Datawise </b></li>
  					<li><b>Honorary Secretary – Mr.Nagendra Ammineni, CEO, Skytrack </b></li>
  					<li><b>Immediate Past Chairman  Mr. Amar Chegu, Director, Cosmic Management Services Pvt. Ltd
  						</b><br>
  						Amar is an Organization Development (OD) Consultant. He facilitates transformation of Organizations through OD Interventions - as a result of which organizations change and grow.'Solutions for Better Enterprise' is their motto.
  					</li>
  				</ul>
			</div>
			<div class="tab-pane" id="ExecutiveBoard">

				<ul type="circle">
  					<li><b>Mr. I.D.Prasad, Director, Seamless Consulting</b></li>
					<li><b>Prof.B.R.Virmani, Managing Director, Cord-M</b>
						<p>Professor B.R.Virmani is the Founder Chairman of Centre for Organization Research in Management. He is a Consultant to governments, multi-lateral institutions and business organizations at the national and international level. He has served as Dean and Professor of Strategic Management at the Administrative Staff College of India earlier. He has published 15 books and over 60 articles on various aspects of management.
							</p>
					</li>
				</ul>

			</div>
			
			<div class="tab-pane" id="CodeOfEthics">

				<table class="table table-hover">
		<tbody>
			<tr>
			<td class="coe_one">
				Confidentiality
			</td>
			<td class="coe_two">
				A member will treat client information as confidential and will not take personal advantage of privileged information gathered during an assignment, or enable others to do so. 
			</td></tr>
			<tr>
			<td class="coe_one">
				Unrealistic Expectations
			</td>
			<td class="coe_two">
				A member will refrain from encouraging unrealistic expectations or promising clients that benefits are certain from specific consulting services. 
			</td></tr>
			<tr>
			<td class="coe_one">
				Commissions / Financial Interests
			</td>
			<td class="coe_two">
				A member will neither accept commissions, remuneration or other benefits from a third party in connection with recommendations to a client without the client's knowledge and consent, nor fail to disclose any financial interest in goods or services which form part of such recommendations. 
			</td></tr>
			<tr>
			<td class="coe_one">
				Assignments
			</td>
			<td class="coe_two">
				A member will only accept assignments for which the member has the skill and knowledge to perform. 
			</td></tr>
			<tr>
			<td class="coe_one">
				Conflicting Assignments
			</td>
			<td class="coe_two">
				A member will avoid acting simultaneously (in potentially conflicting situations) without informing all parties in advance that this is intended. 
			</td></tr>
			<tr>
			<td class="coe_one">
				Conferring with Clients
			</td>
			<td class="coe_two">
				A member will ensure that before accepting any engagement, a mutual understanding of the objectives, scope, work plan and fee arrangements is established and any personal, financial or other interests which might influence the conduct of the work are disclosed.
			</td></tr>
			<tr>
			<td class="coe_one">
				Recruiting
			</td>
			<td class="coe_two">
				A member will refrain from inviting an employee of a client to consider alternate employment without prior discussion with the client. 
			</td></tr>
			<tr>
			<td class="coe_one">
				Approach
			</td>
			<td class="coe_two">
				A member will maintain a fully professional approach in all dealings with clients, the general public and fellow members. 
			</td></tr>
			<tr>
			<td class="coe_one">
				Code of Professional Conduct
			</td>
			<td class="coe_two">
				A member will ensure that other management consultants carrying out work on the member's behalf are conversant with and abide by the Code of Professional Conduct.
			</td></tr>
		
		</tbody>
		
		
  	</table>			
			
			</div>
		</div><!-- tab-content -->
	</div><!-- col -->
</div><!-- row -->	
	


</div>

