/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require pages
 *= require_tree .
 *= require_self
 */


html body
{
	
    background: none repeat scroll 0 0 #0071ce;
    min-height: 100%;  
}

.main-layout
{
	margin: 1em 4em;
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 4px;
	min-height: 100%;   
}


html body nav.navbar.navbar-default div.container-fluid div.navbar-header a.navbar-brand
{
	padding: 0.5em 1em;
	margin: 0;
	height: 100%;
}

div.navbar-header
{
	height: 100%;
}

.header-logo
{
	max-height: 100%;
}

html body nav.navbar.navbar-default div.container-fluid.header-box div.navbar-header a.navbar-brand
{
	padding: 2px 1em;
}

html body div.main-layout nav.navbar.navbar-default div.container-fluid.header-box div.navbar-collapse.collapse.navbar-inverse-collapse ul.nav.navbar-nav li.socialnestwordsites img.pull-left.pull-down
{
	margin-top:4em;
}

.header-box
{
	height: 6.5em;
}

ul.header-menu,

{
	min-height: 6em;
}

.header-menuitem
{
	min-height: 6em;
	padding: 1.5em 0.5em;
}

html body nav.navbar.navbar-default div.container-fluid.header-box div#bs-example-navbar-collapse-1.collapse.navbar-collapse ul.nav.navbar-nav.navbar-right.header-menu li.header-menuitem a:hover,
li.header-menuitem:hover
{
	background-color: 	#0071ce;
	a{
		font-color:#FFFFFF;
	}
}

.activities-page,
.aboutus_page

{
	margin: 2em;
}


.nav-tabs {
  border-bottom: 0; }
  .nav-tabs > li {
    width: 100%; }
    .nav-tabs > li > a {
      border: 1px solid transparent;
      border-radius: 4px 0 0 4px;
      margin-right: 0; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
      background: #0071ce;
      color: #FFFFFF;
      border: 1px solid #DDD;
      border-right-color: #FFF;
      margin-right: -1px;
      position: relative;
      z-index: 1; }

.tab-content {
  border: 1px solid #DDD;
  border-radius: 4px;
  margin-left: -31px;
  margin-bottom: 2em;
  min-height: 20em;
  padding: 2em 4em;
  position: relative;
  z-index: 0; }

