html,body
{
height:100%;

}

#wrap
{
min-height: 100%;
}


.footer {
    background-color: #909DA1;;
    position: relative;
    bottom:0;
    left:0;
	right:0;
	height: 44px;
	opacity:0.9;
	clear:both;
	padding-top:0;
	font-family: "Helvetica,​sans-serif";
	color: #FFFFFF;
	margin-left: 0;
  	margin-right: 0;
  	margin-bottom: 0;

}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}	

.row:before, .row:after {
    content: "";
    display: table;
}
.row:after {
    clear: both;
}

.row:before, .row:after {
    content: "";
    display: table;
}
		
.footer .row {
    margin: 0 auto;
  }

.footer .row .section:first-child {
    margin-left: 0;
    margin-bottom: 0;   
    ul, ol {
    margin-bottom: 0px;
    padding: 0;    
	}
}

@media (max-width: 767px) {
	.footer .row .section:first-child {
		margin-left:0;
	}
}

.footer .row .section {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0;
    padding: 12px 0 12px;
}

.footer .row.first .section .link:first-child .text {
    margin-left: 0;
}
.footer .row.first .section .link .text {
    margin-right: 19px;
}

.footer .row.first .section .link {
    display: inline;
}

.footer .row .section .link .text {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: lighter;
}

ul li {
    list-style-type: none;
}
.footer hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #B5B5B5 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 0;
}