<div class="activities-page">
	
<h2>Activities </h2>

<div class="row">
	<div class="col-sm-3">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#AreaOfExpertise" data-toggle="tab">Area of expertise</a></li>
			<li><a href="#ScopeOfConsultingAssignment" data-toggle="tab">Scope of Consulting Assignment </a></li>
			<li><a href="#WhyIMCI" data-toggle="tab">Why IMCI</a></li>
			<li><a href="#EventsDone" data-toggle="tab">Events done by IMCI Hyderabad</a></li>
		</ul>
	</div><!-- col -->

	<div class="col-sm-9">
		<div class="tab-content">
			<div class="tab-pane active" id="AreaOfExpertise">

			<p>Training, Finance, International Trade, IT, Analytics, ISO Certifications, Program & Project Management, Marketing, Agri Business, MSME Cluster Development, Micro Enterprise Development, Agri Business, Organization Development, CSR & Stakeholder Engagement, Brand & Reputation Management</p>
			
			</div>
			<div class="tab-pane" id="ScopeOfConsultingAssignment">

				<ul type="square">
  					<li>Letter of Intent</li>
  					<li>GAP Study & Analysis</li>
  					<li>Proposal Submission</li>
  					<li>Proposal Acceptance</li>
  					<li>Assignment starts</li>
  						<ul type="circle">
  							<li>ICMCI is recognized in 48 countries</li>
  						</ul>
  					<li>After implementation KPIs measured</li>
  					<li>Report submitted</li>
  					<li>Assignment comes to a close</li>
  				</ul>	
			
			</div>
			<div class="tab-pane" id="WhyIMCI">

				IMCI Hyderabad has professional consultants with:
				
				<ul type="square">
  					<li>Proven expertise</li>
  					<li>R&D basis</li>
  					<li>Data driven advice</li>
  					<li>Documentation</li>
  					<li>sociation with Industry and Academia</li>
  					<li>Writing articles, publishing literature, addressing gatherings</li>
  				</ul>

			</div>
			<div class="tab-pane" id="EventsDone">

				<ul type="square">
  					<li>Data driven decision making to achieve profit objectives in SME, June 2011</li>
  					<li>Consulting opportunities in emerging economies, NMIMS – June 2011</li>
  					<li>Consulting opportunities in healthcare sector – June 2014</li>
  				</ul>
			
			</div>
			
			
		</div><!-- tab-content -->
	</div><!-- col -->
</div><!-- row -->
</div>
