<div id="footer" class="footer" >

	<div class="row first">
		<ul class="inline hidden-phone">	
      				<li class="pull-left section"> Powered By <a href="http://www.mydatawise.com/">Datawise</a></li>	
					<li class="pull-right section">Hand Crafted</li>
		</ul>
		
		
	  </div>



</div>	



